//-----------------------------------------
//--------blog section submit form---------
//-----------------------------------------

.makePost {
    background: $camoGreen;
}

.makePost form {
    width: 60%;
}

.makePost fieldset {
    display: flex;
    justify-content: space-between;
    border: none;
}

.makePost input[type="text"],
.makePost input[type="email"] {
    width: 47%;
    color: $iceblue;
    border: none;
    background: $camoGreen;
    border-bottom: 2px solid $marigold;
    padding: 20px 30px;
}

.makePost fieldset.submit {
    display: flex;
    flex-direction: column;
}

.makePost textarea {
    width: 100%;
    padding: 20px 30px;
    border: 2px solid $marigold;
    background: $camoGreen;
}

.makePost textarea::placeholder {
    color: $iceblue;
    opacity: 1;
}

.makePost button {
    margin-top: 25px;
    width: 100%;
    @include linkButton();
    border: none;
    color: $iceblue;
}