//-----------------------------------------
//--------blog section submit form---------
//-----------------------------------------

.makePost {
    background: $camoGreen;
}

.makePost form {
    width: 60%;
}

.makePost fieldset {
    display: flex;
    justify-content: space-between;
}

.makePost input[type="text"],
.makePost input[type="email"] {
    @include inputFields($camoGreen);
}

.makePost fieldset.submit {
    display: flex;
    flex-direction: column;
}

.makePost textarea {
    @include textArea($camoGreen);
}

.makePost button {
    margin-top: 25px;
    width: 100%;
    @include linkButton();
}