//--------------------------------------------------------
//----------Header nav styles common across pages----------
//--------------------------------------------------------
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

nav h2 {
    display: block;
    width: 20%;
}

nav ul {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    width: 20%;
}

nav a {
    font-family: $lato;
    font-weight: bold;
}

.hamburger {
    display: none;
    color: $iceblue;
}


//----------------------------------------------------------------
//-------------- common copyright footer styles--------------------
//------------------------------------------------------------------

footer {
    background: $charcoal;
    padding: 5px 0;
    text-align: center;
}

footer p {
    @include paragraphText();
}

//----------------------------------------------------------
//------media queries for responsive resizing of nav-------
//---------------------------------------------------------
@media (max-width: 700px) {
    nav {
        width: 100%;
        align-content: flex-start;
    }

    //hide expanded nav
    nav ul {
        display: none;
    }

    //show hamburger icon
    .hamburger {
        display: block;
        font-size: $subHeading;
    }

}
