//-----------------------------------------------
// styles for homepage 'new adventures'section
//----------------------------------------------

.newAdventure {
    background: $camoGreen;
}

.newAdventure .innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newAdventure .textSection,
.newAdventure .imageSection {
    margin: 325px 0 100px 0;
}

.newAdventure .textSection {
    width: 60%;
}

.newAdventure .imageSection {
    min-width: 25%;
    background: $mudGreen;
}

.newAdventure img {
    width: 100%;
    transform: translate(7.5%, -7.5%);
    // position: relative;
    // top: -15px;
    // right: -7%;
}

.newAdventure p {
    @include paragraphText();
    margin-bottom: 30px;
}

.newAdventure a {
    @include linkButton();
}
