//-----------------------------------------------
// styles for homepage 'new adventures'section
//----------------------------------------------

.newAdventure {
    background: $camoGreen;
}

.newAdventure .innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newAdventure .textSection,
.newAdventure .imageSection {
    margin: 325px 0 100px 0;
}

.newAdventure .textSection {
    width: 60%;
}

.newAdventure .imageSection {
    min-width: 25%;
    background: $mudGreen;
}

.newAdventure img {
    width: 100%;
    transform: translate(7.5%, -7.5%);
    // position: relative;
    // top: -15px;
    // right: -7%;
}

.newAdventure p {
    @include paragraphText();
    margin-bottom: 30px;
}

.newAdventure a {
    @include linkButton();
}


//media queries for resizing this section
@media (max-width: 950px) {
    .newAdventure .textSection,
    .newAdventure .imageSection {
        margin: 100px 0;
    }
}

//switch to 1 stack content
@media (max-width: 850px) {
    .newAdventure .textSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .newAdventure .innerWrapper {
        flex-direction: column;
        align-items: center;
    }

    .newAdventure .textSection {
        width: 100%;
        margin: 50px 0 ;
    }

    .newAdventure .imageSection {
        margin: 50px 0;
        width: 50%;
    }
}

//reposition text
@media (max-width: 480px) {

    .newAdventure .imageSection {
        width: 75%;
    }
}