//------------------------------
// home page free trials section
//-------------------------------

//full bleed divider image
.dividerImage {
    width: 100%;
    height: 50vh;
    background: url(../assets/banner-image.jpg);
    background-position: center center;
    background-size: cover;
}

.freeTrials {
    background: $camoGreen;
    padding: 200px 0;
}

.freeTrials .innerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.freeTrials p {
    @include paragraphText();
    display: block;
    width: 90%;
    text-align: justify;
    margin: 25px 0;
}

.freeTrials a {
    @include linkButton();
}

//responsive resizing
@media (max-width: 800px) {
    //reduce vertical blank space
    .freeTrials {
        padding: 75px 0;
    }
}


@media (max-width: 600px) {
    //resize divider
    .dividerImage {
        height: 200px;
    }

    .freeTrials p {
        text-align: center;
    }
}

@media (max-width: 500px) {
    //reduce vertical blank space
    .freeTrials {
        padding: 50px 0;
    }
}