//---------------
//---- colors----
//---------------
$marigold: #ffc600;
$iceblue: #fafffe;
$charcoal: #262725;
$mudGreen: #555f02;
$camoGreen: #1e140e;

//---------------
// font sizes
//---------------
//115px
$headingHeader: 5.75rem;
//105px
$heading: 5.25rem;
//45px
$subHeading: 2.25rem;
//41.5px
$logoFont: 2.075rem;
//40px
$sectionHeadings: 2rem;

//--------------------
//----font families---
//--------------------
$dokdo: 'Dokdo', cursive;
$lato: 'Lato', sans-serif;