//-----------------------------------
//--------contact page forms---------
//-----------------------------------

.contactFormSection {
    background: $camoGreen;
    padding: 75px 0;
}

.formBackground {
    background: $marigold;
    width: 66%;
    transform: translateY(-30%);
    margin-bottom: -18%;
}

.contactFormSection .innerWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactUs form {
    background: $charcoal;
    //offset for yellow border
    transform: translate(-25px, -25px);
}

.contactSidebar {
    width: 20%;
    color: $iceblue;
}

.contactFields {
    display: flex;
    justify-content: space-between;
}

.contactUs input[type="text"],
.contactUs input[type="email"] {
    @include inputFields($charcoal);
}

.contactSubmit {
    display: flex;
    flex-direction: column;
}

.contactUs textarea {
    @include textArea($charcoal);
}

.contactSocialIcons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contactSocialIcons a {
    color: $marigold;
    font-size: 1.5rem;
    transition: 0.3s;
}

.contactSocialIcons a:hover {
    color: $iceblue;
}

.contactSidebar ul + p {
    margin: 20px 0 30px 0;
}

.contactSidebar ul + p ~ p {
    margin: 10px 0;
}

//make field placeholders grey
textarea::placeholder,
input::placeholder {
    color: $iceblue;
    opacity: 0.75;
}

//-------------------------------------
//-----responsive media queries--------
//-------------------------------------
@media (max-width: 1000px) {
    .contactFormSection .innerWrapper {
        flex-direction: column;
    }

    .formBackground {
        width: 100%;
        margin-bottom: -15%;
    }

    .contactSidebar {
        width: 100%;
    }

    .contactSocialIcons {
        width: 100%;
        padding: 0 50px;
    }

    .contactSocialIcons a {
        font-size: $logoFont;
    }

    //stack input forms
    .contactFields {
        flex-direction: column;
        align-items: center;
    }

    .contactUs input[type="text"],
    .contactUs input[type="email"] {
        width: 100%;
    }

    .contactUs textarea {
        margin-top: 25px;
    }
}

@media (max-width: 650px) {
    //shrink margin below textarea field
    .formBackground {
        margin-bottom: -30%;
    }
}

//reduce form/background offset
@media (max-width: 450px) {
    .contactUs form {
        transform: translate(-7px, -7px);
    }

    .formBackground {
        transform: translateY(-30%);
        margin-bottom: -60px;
    }
}

//-------------------------------
//-----landscape phones----------
//-------------------------------
@media (max-height: 420px) {
    //make form pop up less so page h1 isn't covered
    .formBackground {
        transform: translateY(-20%);
        margin-bottom: -10%;
    }
}