//-----------------------------------
//-------contact page header--------
//----------------------------------

.contactUs header {
    height: 60vh;
    background: url(../assets/contact-image-1.jpg);
    background-size: cover;
    background-position: center center;
}

.contactUs h1 {
    margin-top: 10%;
    margin-bottom: auto;
    color: $marigold;
}


@media (max-width: 850px) {
    .contactUs h1 {
        margin-top: 40%;
    }
}

//reposition h1 header
@media (max-width: 650px) {
    .contactUs h1 {
        font-size: $heading;
        line-height: 35px;
    }
}

@media (max-width: 550px) {
    .contactUs h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 450px) {
    .contactUs h1 {
        margin-top: 30%;
    }
}