//-----------------------------------
//-------contact page header--------
//----------------------------------

.contactUs header {
    height: 50vh;
    background: url(../assets/contact-image-1.jpg);
    background-size: cover;
    background-position: center center;
}

.contactUs h1 {
    margin-top: 17.5%;
    margin-bottom: auto;
    color: $marigold;
}

//-------------------------------------
//-----responsive media queries--------
//-------------------------------------
@media (max-width: 850px) {
    .contactUs h1 {
        margin-top: 22%;
    }
}

//reposition h1 header
@media (max-width: 650px) {
    //resize heading font due to text wrapping
    .contactUs h1 {
        font-size: $heading;
        line-height: 35px;
        font-size: 4rem;
        text-align: center;
        margin-top: 30%;
    }
}

@media (max-width: 550px) {
    .contactUs h1 {
        margin-top: 17.5%;
    }
}

//-------------------------------
//-----landscape phones----------
//-------------------------------
@media (max-height: 420px) {
    .contactUs header {
        height: 70vh;
    }

    .contactUs h1 {
        margin-top: 10%;
    }
}