//-------------------------
// blog page header styles
//-------------------------

.blog header .innerWrapper {
    width: 80%;
}

.blog header {
    background: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-position: center center;
    height: 60vh;  
}

.blog h1 {
    margin-top: 10vh;
    color: $marigold;
}

///-------------------------------------
//-----responsive media queries--------
//------------------------------------


@media (max-width: 700px) {
    //reposition  h1 header
    .blog h1 {
        text-align: center;
    }

    .blog header {
        height: 55vh;
    }
}

@media (max-width: 500px) {
    .blog header {
        height: 50vh;
    }
}

//-------------------------------
//-----landscape devices----------
//-------------------------------


//landscape tablets
//media query for landscape modes from Stephen Gilbert http://stephen.io/mediaqueries/
//ipads
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .blog h1 {
        margin-top: 10vh;
    }
}

//nexus
@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 1280px) 
and (orientation : landscape) {
    .blog h1 {
        margin-top: 10vh;
    }
}
