//-----------------------------------------
//--------blog section submit form---------
//-----------------------------------------

.makePost {
    background: $camoGreen;
}

.makePost form {
    width: 60%;
}

.userInfo {
    display: flex;
    justify-content: space-between;
}

.makePost input[type="text"],
.makePost input[type="email"] {
    @include inputFields($camoGreen);
}

.makePost fieldset.submit {
    display: flex;
    flex-direction: column;
}

.makePost textarea {
    @include textArea($camoGreen);
}

.makePost textarea::placeholder,
.makePost input::placeholder {
    opacity: 1;
}

//-------------------------------------
//-----responsive media queries--------
//-------------------------------------

@media (max-width: 1100px) {
    .makePost form {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .userInfo {
        flex-direction: column;
        align-items: center;
    }

    .makePost input[type="text"],
    .makePost input[type="email"] {
        width: 100%;
    }

    .makePost textarea {
        margin-top: 25px;
    }
}
