//----------------------------------------
//------blog page comments section styles---
//-----------------------------------------

h4 {
    font-family: $dokdo;
    color: $iceblue;
    font-size: $subHeading;
}

.comments {
    background: $camoGreen;
}

.comment {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.innerWrapper .comment:first-of-type {
    margin-bottom: 50px;
}

.comments .innerWrapper {
    width: 80%;
}

.comment p {
    @include paragraphText();
}

.comment h6 {
    @include paragraphText();
    color: $marigold;
}

.commentText {
    width: 81%;
}

.commentImage {
    width: 12%;
    
}

.commentImage img {
    width: 100%;
    
}

//media query to resize content
@media (max-width: 1100px) {
    .comment {
        width: 100%;
    }
}

//resize avatars
@media (max-width: 450px) {
    .commentText {
        width: 79%;
    }
    
    .commentImage {
        width: 18%;
        
    }
}