article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.outerWrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.innerWrapper {
  width: 80%;
  margin: 0 auto;
}

body {
  font-size: 125%;
}

h1,
h2,
h3 {
  color: #ffc600;
  font-family: "Dokdo", cursive;
}

h1 {
  font-size: 5.75rem;
  line-height: 75px;
}

h2 {
  font-size: 2.075rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 58px;
  letter-spacing: 4.9px;
}

a {
  color: #fafffe;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

nav h2 {
  display: block;
  width: 20%;
}

nav ul {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  width: 25%;
}

nav a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

header .outerWrapper {
  position: relative;
  height: 100%;
}

.home header {
  background: url("../assets/home-image-1.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.headerTitle {
  margin: 25% auto auto 52%;
}

header h4 {
  font-family: "Lato", sans-serif;
  font-size: 2.25rem;
  color: #fafffe;
  text-transform: lowercase;
  line-height: 58px;
  letter-spacing: 4.9px;
  margin-left: 15px;
}

.home .headerOffsetImage {
  height: 640px;
  width: 695px;
  background: url("../assets/square-header-image.jpg");
  position: absolute;
  left: 0;
  bottom: -240px;
}

.newAdventure {
  background: #1e140e;
}

.newAdventure .innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newAdventure .textSection,
.newAdventure .imageSection {
  margin: 325px 0 100px 0;
}

.newAdventure .textSection {
  width: 60%;
}

.newAdventure .imageSection {
  width: 25%;
  background: #555f02;
}

.newAdventure img {
  position: relative;
  top: -20px;
  right: -20px;
}

.newAdventure p {
  font-family: "Lato", sans-serif;
  color: #fafffe;
  margin-bottom: 30px;
}

.newAdventure a {
  background: #555f02;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
  padding: 5px 10px;
}

.gallery {
  background: #262725;
  padding: 100px 0;
}

.gallery .innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery img {
  width: calc((100% / 3) - 30px);
}

.aboutUs {
  background: #1e140e;
  padding: 100px 0;
}

.aboutUs .innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutUsSections {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fafffe;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
}

.aboutUs a {
  display: block;
  color: #ffc600;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
}

.aboutUs i {
  color: #fafffe;
  display: inline-block;
  background: #555f02;
  text-align: center;
  font-size: 1.75rem;
  line-height: 35px;
  letter-spacing: 0;
  width: 56px;
  height: 56px;
  padding: 10px;
  border-radius: 50%;
}

.aboutUs p {
  display: block;
  width: calc(100% - 60px);
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */