@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

fieldset {
  border: none;
}

.outerWrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.innerWrapper {
  width: 80%;
  margin: 0 auto;
}

body {
  font-size: 125%;
}

h1,
h2,
h3 {
  color: #ffc600;
  font-family: "Dokdo", cursive;
}

h1 {
  font-size: 5.75rem;
  line-height: 75px;
}

h2 {
  font-size: 2.075rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 58px;
  letter-spacing: 4.9px;
}

a {
  color: #fafffe;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #fafffe;
  opacity: 1;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #fafffe;
  opacity: 1;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #fafffe;
  opacity: 1;
}

textarea::placeholder,
input::placeholder {
  color: #fafffe;
  opacity: 1;
}

@media (max-width: 500px) {
  h3 {
    line-height: 40px;
    letter-spacing: 2.5px;
  }
  p {
    line-height: 25px;
    letter-spacing: 1.5px;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

nav h2 {
  display: block;
  width: 20%;
}

nav ul {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  width: 20%;
}

nav a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.hamburger {
  display: none;
  color: #fafffe;
}

footer {
  background: #262725;
  padding: 5px 0;
  text-align: center;
}

footer p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
}

@media (max-width: 700px) {
  nav {
    width: 100%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  nav ul {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 2.25rem;
  }
}

.home header {
  background: url("../assets/home-image-1.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.home header .outerWrapper {
  position: relative;
  height: 100%;
}

.headerTitle {
  width: 40%;
  margin: 15% auto auto 50%;
}

.home header h4 {
  font-family: "Lato", sans-serif;
  font-size: 2.25rem;
  color: #fafffe;
  text-transform: lowercase;
  line-height: 58px;
  letter-spacing: 4.9px;
  margin-left: 15px;
}

.home .headerOffsetImage {
  width: 45%;
  height: 80vh;
  background: url("../assets/square-header-image.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  left: 0;
  bottom: -240px;
}

@media (max-width: 950px) {
  .home .headerOffsetImage {
    position: static;
    width: 100%;
    height: 30vh;
    margin: 0 auto;
  }
  .home header {
    height: 75vh;
    background-position: center 100%;
  }
  .headerTitle {
    width: auto;
    margin: 35% auto auto 20%;
  }
}

@media (max-width: 700px) {
  .home header .innerWrapper {
    height: 100%;
  }
  .home header {
    height: 60vh;
    background-position: center 100%;
  }
  .headerTitle {
    text-align: center;
    margin: 20% 0 auto 0;
  }
}

@media (max-width: 500px) {
  .headerTitle h1 {
    font-size: 3.5rem;
  }
  .home header h4 {
    font-size: 1.5rem;
  }
  .home header {
    height: 45vh;
    background-position: center 100%;
  }
}

.newAdventure {
  background: #1e140e;
}

.newAdventure .innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newAdventure .textSection,
.newAdventure .imageSection {
  margin: 325px 0 100px 0;
}

.newAdventure .textSection {
  width: 60%;
}

.newAdventure .imageSection {
  min-width: 25%;
  background: #555f02;
}

.newAdventure img {
  width: 100%;
  -webkit-transform: translate(7.5%, -7.5%);
          transform: translate(7.5%, -7.5%);
}

.newAdventure p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
  margin-bottom: 30px;
}

.newAdventure a {
  background: #555f02;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
  padding: 5px 10px;
  font-weight: normal;
  border: none;
  color: #fafffe;
}

@media (max-width: 950px) {
  .newAdventure .textSection,
  .newAdventure .imageSection {
    margin: 100px 0;
  }
}

@media (max-width: 850px) {
  .newAdventure .textSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .newAdventure .innerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .newAdventure .textSection {
    width: 100%;
    margin: 50px 0;
  }
  .newAdventure .imageSection {
    margin: 50px 0;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .newAdventure .imageSection {
    width: 75%;
  }
}

.gallery {
  background: #262725;
  padding: 100px 0;
}

.gallery .innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery img {
  width: calc((100% / 3) - 30px);
}

@media (max-width: 600px) {
  .gallery .innerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery img {
    width: 75%;
    margin-bottom: 40px;
  }
  .gallery img:last-child {
    margin-bottom: 0;
  }
}

.aboutUs {
  background: #1e140e;
  padding: 100px 0;
}

.aboutUs .innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutUsSections {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
}

.aboutUs a {
  display: block;
  color: #ffc600;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
}

.iconDot {
  margin-right: 25px;
}

.aboutUs i {
  color: #fafffe;
  display: inline-block;
  background: #555f02;
  text-align: center;
  font-size: 1.75rem;
  line-height: 35px;
  letter-spacing: 0;
  width: 56px;
  height: 56px;
  padding: 10px;
  border-radius: 50%;
}

.aboutUs p {
  display: block;
  width: calc(100% - 60px);
  font-size: 1rem;
}

.aboutUsSections .textSection {
  margin-top: 15px;
}

.aboutUsSections .textSection a {
  margin-bottom: 25px;
}

@media (max-width: 920px) {
  .aboutUs .innerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutUsSections {
    width: 100%;
    margin-bottom: 25px;
  }
  .aboutUsSections .textSection a {
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .aboutUsSections .textSection {
    margin-top: 0;
  }
  .aboutUs i {
    font-size: 1.5rem;
    line-height: 31px;
    letter-spacing: 0;
    width: 38px;
    height: 38px;
    padding: 3px;
    border-radius: 50%;
  }
}

.programs {
  background: #262725;
  padding: 0px 0 50px 0;
}

.programSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.programs p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
  margin-bottom: 15px;
}

.programs a {
  background: #555f02;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
  padding: 5px 10px;
  font-weight: normal;
  border: none;
  color: #fafffe;
}

.programSection .imgSection {
  width: 50%;
  background: #ffc600;
}

.programSection .imgSection img {
  width: 100%;
}

.programSection .textSection {
  width: 40%;
}

.section1 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0;
}

.section2 .textSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2 h3,
.section2 a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  right: -10%;
}

.section1 .imgSection {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.section1 .imgSection img {
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
}

.section2 .imgSection {
  display: inline-block;
  -webkit-transform: translate(20%, 35%);
          transform: translate(20%, 35%);
}

.section2 .imgSection img {
  -webkit-transform: translate(5%, -5%);
          transform: translate(5%, -5%);
}

@media (max-width: 1000px) {
  .section1 .imgSection {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: rgba(50, 50, 50, 0);
  }
  .section1 .imgSection img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-box-shadow: 16px 16px #ffc600;
            box-shadow: 16px 16px #ffc600;
  }
  .section2 .imgSection {
    background: rgba(50, 50, 50, 0);
    display: inline-block;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .section2 .imgSection img {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-box-shadow: -16px 16px #ffc600;
            box-shadow: -16px 16px #ffc600;
  }
  .programSection .textSection {
    width: 46%;
  }
  .section2 h3,
  .section2 a {
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: static;
  }
}

@media (max-width: 900px) {
  .programs {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section2 {
    padding-bottom: 0;
  }
  .programSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .programSection .textSection,
  .programSection .imgSection {
    width: 90%;
    margin: 0 auto;
  }
  .programSection .textSection {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section2 h3,
  .section2 a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: static;
  }
}

@media (max-width: 450px) {
  programSection .textSection,
  .programSection .imgSection {
    width: 100%;
  }
}

.dividerImage {
  width: 100%;
  height: 50vh;
  background: url(../assets/banner-image.jpg);
  background-position: center center;
  background-size: cover;
}

.freeTrials {
  background: #1e140e;
  padding: 200px 0;
}

.freeTrials .innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.freeTrials p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
  display: block;
  width: 90%;
  text-align: justify;
  margin: 25px 0;
}

.freeTrials a {
  background: #555f02;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
  padding: 5px 10px;
  font-weight: normal;
  border: none;
  color: #fafffe;
}

@media (max-width: 800px) {
  .freeTrials {
    padding: 75px 0;
  }
}

@media (max-width: 600px) {
  .dividerImage {
    height: 25vh;
  }
  .freeTrials p {
    text-align: center;
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .freeTrials {
    padding: 50px 0;
  }
}

.blog header .innerWrapper {
  width: 80%;
}

.blog header {
  background: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: center center;
  height: 600px;
}

.blog h1 {
  margin-top: 225px;
  color: #ffc600;
}

@media (max-width: 850px) {
  .blog header {
    height: 75vh;
  }
  .blog h1 {
    margin: 40% auto auto auto;
  }
}

@media (max-width: 700px) {
  h1 {
    text-align: center;
    margin: 10% 0 auto 0;
  }
  .blog header {
    height: 60vh;
  }
}

@media (max-width: 500px) {
  .blog header {
    height: 45vh;
  }
  .blog h1 {
    margin: 35% auto auto auto;
  }
}

.blogPostSection {
  background: #1e140e;
}

.blogPostSection .innerWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPostSection p,
.blogPostSection h6 {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
}

.blogPostSection p {
  margin-bottom: 10px;
}

.blogPostSection h6 {
  font-weight: normal;
  font-style: italic;
}

.blog h3 {
  margin-top: 25px;
}

.blogPostSection a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
}

.blog article {
  width: 60%;
  padding-bottom: 50px;
  border: 4px #555f02 solid;
  border-top: none;
  border-left: none;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  margin-bottom: -7%;
}

.blog article p:last-child {
  margin-bottom: 50px;
}

.blog .textSection {
  width: 65%;
  margin: 0 auto;
}

.blog .headerOffsetImage {
  background: #555f02;
  width: 95%;
  margin: 0 0 0 auto;
}

.blog .headerOffsetImage img {
  width: 100%;
  -webkit-transform: translate(-3%, -3%);
          transform: translate(-3%, -3%);
}

aside {
  width: 30%;
  background: #555f02;
  height: 100%;
  margin-top: 150px;
  padding: 25px 0 0 0;
}

aside img {
  width: 95%;
  display: inline-block;
  -webkit-transform: translate(5%, -10%);
          transform: translate(5%, -10%);
}

aside p,
aside ul {
  margin-left: 25px;
}

aside ul {
  margin-bottom: 25px;
}

.blogPostSection li::before {
  content: "•";
  font-weight: bold;
  color: #ffc600;
  margin: 0 10px;
}

.blogPostSection h5 {
  font-family: "Dokdo", cursive;
  color: #fafffe;
  font-size: 2rem;
  margin: 15px 0 20px 25px;
}

@media (max-width: 850px) {
  .blog article.blogPost {
    margin-bottom: -10%;
  }
  .blog article {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}

@media (max-width: 750px) {
  .blogPostSection .innerWrapper {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  aside ul {
    text-align: left;
  }
  .blog article.blogPost {
    margin-bottom: -30px;
    width: 100%;
  }
  .blog article {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .blog .textSection {
    width: 100%;
    margin-left: 0%;
    padding: 0 15px;
  }
  aside {
    width: 100%;
    margin-top: 50px;
    padding: 0 15px;
  }
  aside img {
    width: 80%;
  }
  .blogPostSection h5,
  .blogPostSection p {
    margin: 0;
  }
  .textSection p {
    margin-bottom: 10px;
  }
  .blogPostSection img + h5 {
    margin-top: -25px;
    margin-bottom: 10px;
  }
  .blogPostSection p + h5 {
    margin: 10px 0;
  }
}

@media (max-width: 500px) {
  aside {
    padding-bottom: 25px;
  }
  .blogPostSection h6 {
    margin: 10px 0;
  }
  .blog article {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .blogPostSection a {
    line-height: 25px;
    letter-spacing: 1.5px;
  }
  aside p,
  aside ul {
    margin: 0;
  }
  .blogPostSection p {
    line-height: 25px;
    letter-spacing: 1.5px;
  }
}

@media (max-width: 400px) {
  .blogPostSection a {
    font-size: 0.9rem;
  }
}

h4 {
  font-family: "Dokdo", cursive;
  color: #fafffe;
  font-size: 2.25rem;
}

.comments {
  background: #1e140e;
}

.comment {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.innerWrapper .comment:first-of-type {
  margin-bottom: 50px;
}

.comments .innerWrapper {
  width: 80%;
}

.comment p {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
}

.comment h6 {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fafffe;
  color: #ffc600;
}

.commentText {
  width: 81%;
}

.commentImage {
  width: 12%;
}

.commentImage img {
  width: 100%;
}

@media (max-width: 1100px) {
  .comment {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .commentText {
    width: 79%;
  }
  .commentImage {
    width: 18%;
  }
}

.makePost {
  background: #1e140e;
}

.makePost form {
  width: 60%;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.makePost input[type="text"],
.makePost input[type="email"] {
  width: 47%;
  color: #fafffe;
  border: none;
  background: #1e140e;
  border-bottom: 2px solid #ffc600;
  padding: 20px 30px;
}

.makePost fieldset.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.makePost textarea {
  width: 100%;
  padding: 20px 30px;
  border: 2px solid #ffc600;
  background: #1e140e;
  color: #fafffe;
}

.makePost button {
  margin-top: 25px;
  width: 100%;
  background: #555f02;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
  padding: 5px 10px;
  font-weight: normal;
  border: none;
  color: #fafffe;
}

@media (max-width: 1100px) {
  .makePost form {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .userInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .makePost input[type="text"],
  .makePost input[type="email"] {
    width: 100%;
  }
  .makePost textarea {
    margin-top: 25px;
  }
}

.contactUs header {
  height: 60vh;
  background: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: center center;
}

.contactUs h1 {
  margin-top: 10%;
  margin-bottom: auto;
  color: #ffc600;
}

@media (max-width: 850px) {
  .contactUs h1 {
    margin-top: 40%;
  }
}

@media (max-width: 650px) {
  .contactUs h1 {
    font-size: 5.25rem;
    line-height: 35px;
  }
}

@media (max-width: 550px) {
  .contactUs h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 450px) {
  .contactUs h1 {
    margin-top: 30%;
  }
}

.contactFormSection {
  background: #1e140e;
  padding: 75px 0;
}

.formBackground {
  background: #ffc600;
  width: 66%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-bottom: -18%;
}

.contactFormSection .innerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactUs form {
  background: #262725;
  -webkit-transform: translate(-25px, -25px);
          transform: translate(-25px, -25px);
}

.contactSidebar {
  width: 20%;
  color: #fafffe;
}

.contactFields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactUs input[type="text"],
.contactUs input[type="email"] {
  width: 47%;
  color: #fafffe;
  border: none;
  background: #262725;
  border-bottom: 2px solid #ffc600;
  padding: 20px 30px;
}

.contactSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactUs textarea {
  width: 100%;
  padding: 20px 30px;
  border: 2px solid #ffc600;
  background: #262725;
  color: #fafffe;
}

.contactUs button {
  background: #555f02;
  font-family: "Dokdo", cursive;
  font-size: 2rem;
  padding: 5px 10px;
  font-weight: normal;
  border: none;
  color: #fafffe;
  margin-top: 25px;
}

.contactSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contactSocialIcons a {
  color: #ffc600;
  font-size: 1.5rem;
}

.contactSidebar ul + p {
  margin: 20px 0 30px 0;
}

.contactSidebar ul + p ~ p {
  margin: 10px 0;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #fafffe;
  opacity: 0.5;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #fafffe;
  opacity: 0.5;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #fafffe;
  opacity: 0.5;
}

textarea::placeholder,
input::placeholder {
  color: #fafffe;
  opacity: 0.5;
}

@media (max-width: 1000px) {
  .contactFormSection .innerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formBackground {
    width: 100%;
    margin-bottom: -25%;
  }
  .contactSidebar {
    width: 100%;
  }
  .contactSocialIcons {
    width: 100%;
    padding: 0 50px;
  }
  .contactSocialIcons a {
    font-size: 2.075rem;
  }
  .contactFields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactUs input[type="text"],
  .contactUs input[type="email"] {
    width: 100%;
  }
  .contactUs textarea {
    margin-top: 25px;
  }
  .formBackground {
    margin-bottom: -32%;
  }
}

@media (max-width: 650px) {
  .formBackground {
    margin-bottom: -30%;
  }
}

@media (max-width: 450px) {
  .contactUs form {
    -webkit-transform: translate(-7px, -7px);
            transform: translate(-7px, -7px);
  }
  .formBackground {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    margin-bottom: -60px;
  }
}
/*# sourceMappingURL=style.css.map */