//-------------------------------------------------------
// --------------home page header styles-----------------
//------------------------------------------------------

.home header {
    background: url("../assets/home-image-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.home header .outerWrapper {
    position: relative;
    height: 100%;
}

.headerTitle {
    width: 40%;
    margin: 15% auto auto 50%;
}

.home header h4 {
    font-family: $lato;
    font-size: $subHeading;
    color: $iceblue;
    text-transform: lowercase;
    line-height: 58px;
    letter-spacing: 4.9px;
    margin-left: 15px;
}

.home .headerOffsetImage {
    width: 45%;
    height: 80vh;
    background: url("../assets/square-header-image.jpg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 0;
    bottom: -240px;
}

//------------------------------------------------------
//-------- media queries for resizing this section------
//------------------------------------------------------

@media (max-width: 950px) {
    //switch offset background image to band
    .home .headerOffsetImage {
        position: static;
        width: 100%;
        height: 30vh;
        margin: 0 auto;
    }

    //reposition background image
    .home header {
        height: 75vh;
        background-position: center 100%;
    }

    //reposition h1
    .headerTitle {
        width: auto;
        margin: 35% auto auto 20%;
    }
}

@media (max-width: 700px) {
    //flex header content to center
    .home header .innerWrapper {
        height: 100%;
    }

    .home header {
        height: 60vh;
        background-position: center 100%;
    }

    .headerTitle {
        text-align: center;
        margin: 20% 0 auto 0;
    }
}

@media (max-width: 500px) {
    .headerTitle h1 {
        font-size: 3.5rem;
    }

    .home header h4 {
        font-size: 1.5rem;
    }

    //reposition background image
    .home header {
        height: 45vh;
        background-position: center 100%;
    }
}