//------------------------------------------
// ---------home page gallery section-------
//-----------------------------------------

.gallery {
    background: $charcoal;
    padding: 100px 0;
}

.gallery .innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery img {
    width: calc((100% / 3) - 30px);
}

//-------------------------------------------
//-----stack images for responsive----------
//-----------------------------------------
@media (max-width: 600px) {
    .gallery .innerWrapper {
        flex-direction: column;
    }

    .gallery img {
        width: 75%;
        margin-bottom: 40px;
    }

    .gallery img:last-child {
        margin-bottom: 0;
    }
}