//------------------------------------------------------------------
//---------------------home page about us section-------------------
//------------------------------------------------------------------

.aboutUs {
    background: $camoGreen;
    padding: 100px 0;
}

.aboutUs .innerWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutUsSections {
    width: 50%;
    display: flex;
    @include paragraphText();
}

.aboutUs a {
    display: block;
    color: $marigold;
    font-family: $dokdo;
    font-size: $sectionHeadings;
}

.iconDot {
    margin-right: 25px;
}

//icons
.aboutUs i {
    color: $iceblue;
    display: inline-block;
    background: $mudGreen;
    text-align: center;
    font-size: 1.75rem;
    //styles for dot around icon
    line-height: 35px;
    letter-spacing: 0;
    width: 56px;
    height: 56px;
    padding: 10px;
    border-radius: 50%;
}

.aboutUs p {
    display: block;
    width: calc(100% - 60px);
    font-size: 1rem;
}

.aboutUsSections .textSection {
    margin-top: 15px;
}

.aboutUsSections .textSection a {
    margin-bottom: 25px;
}

//-------------------------------------
//-----responsive media queries--------
//-------------------------------------
@media (max-width: 920px) {
    //move to one stack layout
    .aboutUs .innerWrapper {
        flex-direction: column;
        align-items: center;
    }

    .aboutUsSections {
        width: 100%;
        margin-bottom: 25px;
    }

    .aboutUsSections .textSection a {
        margin-bottom: 0;
    }
}

@media (max-width: 450px) {
    .aboutUs {
       padding: 50px 0;
    }

    .aboutUsSections .textSection {
        margin-top: 0;
    }

    //resize icons
    .aboutUs i {
        font-size: 1.5rem;
        //styles for dot around icon
        line-height: 31px;
        letter-spacing: 0;
        width: 38px;
        height: 38px;
        padding: 3px;
        border-radius: 50%;
    }
}
