//------------------------------------------
// ---------home page gallery section-------
//-----------------------------------------

.gallery {
    background: $charcoal;
    padding: 100px 0;
}

.gallery .innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery img {
    width: calc((100% / 3) - 30px);
    transition: 0.3s;
}

.gallery img:active {
    transform: scale(2);
    z-index: 10;
}

//-------------------------------------
//-----responsive media queries--------
//-------------------------------------
@media (max-width: 600px) {
    .gallery .innerWrapper {
        flex-direction: column;
    }

    .gallery img {
        width: 75%;
        margin-bottom: 40px;
    }

    .gallery img:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 450px) {
    .gallery {
        padding: 50px 0;
    }
}